<div class="card" >
    <div class="card-body">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="User Name" [(ngModel)]="userDetails.user_name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="User Id" aria-label="dept" [(ngModel)]="userDetails.user_id" [disabled]="mode === 'edit'">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Password" aria-label="userid" [(ngModel)]="userDetails.password">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="User Role" aria-label="dept" [(ngModel)]="userDetails.role">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Department" aria-label="dept" [(ngModel)]="userDetails.department">
        </div>
      </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary float-end" (click)="saveUserDetails()" [disabled]="!userDetails.user_id || !userDetails.password">Save</button>
    </div>
</div>